# ==========================================
# PizzaRally Monorepo Environment Template
# ==========================================

# ------------------------------------------
# Backend Configs (apps/backend/.env)
# ------------------------------------------
PORT=3000
MONGODB_URI=mongodb://localhost:27017/pizzarally
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=pizzarally_secret_key_12345_secure_sign_key

# ------------------------------------------
# Frontend Configs (apps/frontend/.env)
# ------------------------------------------
VITE_API_URL=http://localhost:3000/api/v1
VITE_SOCKET_URL=http://localhost:3000
